<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imene.voisin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:name="com.imene.voisin.UIKitApplication"

        android:allowBackup="true"
        android:icon="@mipmap/logoooo_foreground"
        android:label="Voisin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"

        tools:replace="android:label"
    >


        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <activity android:name="com.imene.voisin.views.HomeActivity" />
        <activity android:name="com.imene.voisin.intro.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.imene.voisin.login.LoginActivity" />
        <activity android:name="com.imene.voisin.SelectActivity" />
        <activity android:name="com.imene.voisin.ChatActivity" />



    </application>

</manifest>